{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/about_style.css' %}">
{% endblock %}

{% block content %}
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="{% static 'images/mom.jpg' %}" alt="کبری امانی">
        </div>
        <div class="about-text">
            <h2>درباره من</h2>
            <p>
                من <strong>کبری امانی</strong> هستم سال‌هاست در زمینه <strong>طب سنتی</strong> فعالیت می‌کنم 
                و با استفاده از روش‌های زبان‌شناسی و مزاج‌شناسی به شناسایی و درمان بیماری‌ها می‌پردازم.  
                هدف من این است که با بهره‌گیری از داروهای طبیعی مانند <strong>چای‌های گیاهی</strong>، 
                <strong>روغن‌ها</strong> و ترکیبات سنتی، سلامتی و آرامش را به زندگی شما هدیه کنم.  
            </p>
            <p>
                در کنار درمان، علاقه‌مند به آموزش طب سنتی هستم و کلاس‌های متعددی در زمینه‌ی 
                <strong>مزاج‌شناسی</strong> و <strong>زبان‌شناسی</strong> برای علاقه‌مندان و درمانگران برگزار می‌کنم.  
            </p>
        </div>
    </div>
    
   <section class="contact-section">
        <h3>راه‌های ارتباطی</h3>
        <p class="contact-subtitle">
            برای دریافت مشاوره، ثبت‌نام در کلاس‌ها و کسب اطلاعات بیشتر از طریق راه‌های زیر با ما در ارتباط باشید.
        </p>

        <div class="contact-grid">

            <a href="tel:09138887538" class="contact-card">
                <span class="contact-icon">
                    <i class="fa-solid fa-phone"></i>
                </span>
                <h4>تماس تلفنی</h4>
                <p>09138887538</p>
            </a>


            <a href="https://wa.me/989123456789" class="contact-card">
                <span class="contact-icon">
                    <img src="{% static 'images/icons/16.png' %}" alt="Whatsapp">
                </span>
                <h4>واتساپ</h4>
                <p>ارتباط مستقیم</p>
            </a>

       
            <a href="https://ble.ir/TebbSonnatii" class="contact-card">
                <span class="contact-icon">
                    <img src="{% static 'images/icons/logo-Bale-app-download-png-vector-Toranjlogo (1).png' %}" alt="Bale">
                </span>
                <h4>بله</h4>
                <p>عضویت در کانال</p>
            </a>

            <a href="https://rubika.ir/CGGFCDFD0AEBFXBRJDLSKEXRZNCPCAUW" class="contact-card">
                <span class="contact-icon">
                    <img src="{% static 'images/icons/logo-rubika.png' %}" alt="Rubika">
                </span>
                <h4>روبیکا</h4>
                <p>عضویت در کانال</p>
            </a>
        </div>
    </section>
</section>
{% endblock %}
