{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <!-- Background Animated Suns -->
    <div class="sun"></div>
    <div class="sun2"></div>
    <div class="sun3"></div>

    <div class="hero-content">
        <div class="hero-title">
            <!-- آیکن برگ -->
            <img src="{% static 'images/icons/medicine.png' %}" alt="" width="100px" height="100px">
            <h1>به دنیای طب سنتی خوش آمدید</h1>
        </div>
        <p>
            طب سنتی بر پایه طبیعت و هماهنگی بدن با آن است.  
            با زبان‌شناسی و مزاج‌شناسی، بیماری‌ها شناخته و با داروهای گیاهی درمان می‌شوند.  
        </p>
        <a href="{% url 'home:about' %}" class="btn">بیشتر بدانید</a>
    </div>    
</section>


<!-- Products Section -->
<section class="products">
    <h2>معرفی محصولات</h2>
    <div class="slider-container">
        <div class="cards-holder">
            <!-- محصول نمونه -->
             {% for product in products %}
                <div class="card">
                    <a href="">
                        <img src="{{product.image.url}}" alt="چای گیاهی">
                        <h3>{{ product.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Extra Section -->
<section class="extra">
    <h2>کلاس‌ها و آموزش‌ها</h2>
    <p>
        ما در کنار درمان، دوره‌ها و کلاس‌هایی در زمینه مزاج‌شناسی و زبان‌شناسی برگزار می‌کنیم  
        تا علاقه‌مندان بیشتر با طب سنتی آشنا شوند.
    </p>
</section>
{% endblock %}
