{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/products_style.css' %}">
{% endblock %}

{% block content %}
<section class="products-page">
    <h1 class="page-title">محصولات ما</h1>
    <p class="page-subtitle">انواع محصولات گیاهی و سنتی برای سلامتی و آرامش شما</p>


<!-- HTML !-->
{% for category in categories %}
    <a href="{% url 'home:products2' category.slug %}"><button class="button-33" role="button">{{ category.name }}</button></a>
{% endfor %}
<br></br>



    <div class="products-grid">
        {% for product in products %}
            <div class="product-card">
                <a href="{% url 'home:product_detail' product.slug %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h3>{{ product.name }}</h3>
                        <p class="short-desc">{{ product.short_description|truncatewords:15 }}</p>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>هنوز محصولی اضافه نشده است.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}

