body {
    font-family: 'Sahel', sans-serif;
    font-size: 16px; /* سایز پیش‌فرض متن */
    line-height: 1.8; /* فاصله خطی بهتر برای متن فارسی */
    color: #333; /* رنگ متن نرم‌تر */
    background-color: #e7e4e4; /* زمینه ملایم */
    text-align: right;
}